.page-header {
    background-color: var(--main-light-color);
    border: 1px solid #ECECEC;
}

.flex--centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__list {
    display: flex;
    margin-left: 93px;

    .nav__item:not(:last-child) {
        margin-right: 50px;
        }
}

.nav__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    @include font(14px, 500, 16px);

    color: var(--main-dark-color);
    text-transform: capitalize;

    transition: color 250ms var(--timing-function);

    &.accent::after {
            content: "";
    
            position: absolute;
            bottom: 0;
            left: 0;
    
            display: block;
            width: 100%;
            height: 4px;
            background: var(--accent-color);
            border-radius: 2px;
        }

    &:hover,&:focus, &.accent {
        color: var(--accent-color);
    }

}

.contacts {
    display: flex;
    margin-left: auto;

    list-style: none;
    @include font(14px, 500, 16px);

    color: var(--primary-text-color);

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }
}



.contacts__item {
    .contacts &+& {
            margin-left: 50px;
    }
    
    .contacts__link {
            color: var(--primary-text-color);
            display: flex;
            align-items: center;
    
            transition: color 250ms var(--timing-function);

            &:hover, &:focus {
                color: var(--accent-color);

            }
        }

}