.skills {
    padding-bottom: 0;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 270px;
        list-style: none;
        background: var(--main-light-color);
    
        &:not(:last-of-type) {
            margin-right: 30px;
        }
    }

    &__icon {
        background-color: var(--sec-background-color);
        margin-bottom: 30px;
        border-radius: 4px;
    
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--main-dark-color);
    }

    &__text {
        line-height: 1.72;
    }
}
